.pointer:hover{
	cursor: pointer;
}

.no-select{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.red{
	color: red;
}

.green{
	color: #00b200;
}

.theader{
	font-size:20px;
}

body {
	max-width: 1200px;
	margin: 0 auto;
}
